button {
  width: fit-content;
  height: fit-content;
  text-align: center;
  margin: 7px;
}

div.list-group-item {
  margin-top: 40px;
}

.link {
  text-decoration: none;
  color: rgb(86, 179, 86);
}
.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
p {
  font-size: small;
  color: black;
  margin-bottom: 6px;
}

h4:hover {
  text-decoration: underline;
}

.element {
  margin-bottom: 30px;
  background-color: rgb(91, 207, 87);
}
