<div style="margin-bottom: 30px" class="list-group-item clearfix">
  <div class="row">
    <div class="col-8">
      <a [href]="site?.url"
        ><h4 class="list-group-item-heading">{{ site?.title }}</h4></a
      >
    </div>
    <div class="col-4" *ngIf="isAdmin">
      <div class="row">
        <button class="btn btn-success" [routerLink]="['/edit', site?.id]">
          Mod
        </button>
        |
        <button class="btn btn-danger">Del</button>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <p class="list-group-item-text">{{ site?.description }}</p>
  </div>
</div>
