button {
  width: fit-content;
  height: fit-content;
  text-align: center;
}

div.list-group-item {
  margin-top: 40px;
}

.link {
  text-decoration: none;
  color: rgb(86, 179, 86);
}
.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
