
<div class="row">
    <div class="col-xs-12">
        <app-item 
            *ngFor="let item of sites; let i = index"
            [site]="item"
            [index]="i">
        </app-item>
    </div>
    <!-- <button class="btn btn-success" (click)="get()">Test get sites list</button> -->
    <div class="row">
        <h4 *ngIf="message">{{message}}</h4>
        <button class="btn btn-success" *ngIf="currentPage > 1" (click)="previousPage()"> <- </button>
        <button class="btn btn-success" *ngIf="currentPage > 0 && !message && !noNext" (click)="nextPage()"> -> </button>
    </div>
</div>